<div>
  <div>
    <h1 class="display-4">
      Looking for Players
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h5>
      Play a sport but don't see it on the list? Add yours here!
    </h5>

    <form action="/insert_sport" method="post">

    <div>
        <label for="sport_id_box">
          Sport
        </label>

        <input id="query_sport_sport" type="text" name="query_sport_sport" placeholder="I want to add...">
        

      <button>
        Create sport
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Sport
        </th>

        <th>
          City
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_user_sports.each do |a_sport| %>
      <tr>

        <td>
          <%# a_sport.user_id %>
          <%= User.where({ :id => a_sport.user_id}).at(0).username%>
          
          <%# user.username %>
        </td>

        <td>
          <%# a_sport.sport_id %>
          <%= Sport.where({ :id => a_sport.sport_id}).at(0).sport %>
        </td>

        <td>
          <%# a_sport.city %>
          <%= User.where({ :id => a_sport.user_id}).at(0).city %>
        </td>

        <td>
          <%= time_ago_in_words(a_sport.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_sport.updated_at) %> ago
        </td>

        <td>
        <a href="/users/<%= User.where({ :id => a_sport.user_id}).at(0).username %>">
          Contact
        </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
