<h1> <%= @current_user.username %> </h1>

<h2> City </h2>
<label> <%= @current_user.city %> </label>

<h2> Phone Number </h2>
<label> <%= @current_user.phonenumber %> </label>

<h2> Sports of Interest </h2>

<form action="/insert_user_sport" method="post">

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <label for="sport_id_box">
          Sport
        </label>

        <select name="query_sport_id">
        
        <% Sport.all.order(:sport).each do |a_sport|%>
        <option value="<%=a_sport.id%>">
        <%=a_sport.sport%>
        </option>

        <%end%>
        
        </select>

        
      </div>

      <button>
        I play this
      </button>
    </form>
